module auriga-systemd-hostnamed 1.1;

require {
	type initrc_t;
	type init_t;
	type systemd_hostnamed_t;
	class dbus send_msg;
}

#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t initrc_t:dbus send_msg;
allow systemd_hostnamed_t init_t:dbus send_msg;
