
module auriga-pulseaudio 5.0;

require {
	type initrc_state_t;
	type tmpfs_t;
	type pulseaudio_t;
	class file { getattr open read };
}

#============= pulseaudio_t ==============
allow pulseaudio_t initrc_state_t:file getattr;
allow pulseaudio_t initrc_state_t:file open;
allow pulseaudio_t initrc_state_t:file read;
allow pulseaudio_t tmpfs_t:file getattr;
allow pulseaudio_t tmpfs_t:file open;
allow pulseaudio_t tmpfs_t:file read;
