module auriga-systemd-tmpfiles 1.0;

require {
	type systemd_tmpfiles_t;
	type var_log_t;
	class dir { relabelfrom relabelto setattr };
}

#============= systemd_tmpfiles_t ==============
allow systemd_tmpfiles_t var_log_t:dir { relabelfrom relabelto setattr };
